#footer {
    background-color: $color2;
    text-align: center;
    color: $color1;

    padding: 2rem;

    #socials {
        padding: 1rem;

        i {
            padding-right: 10px;
            font-size: 1.5em;
        }
    }
}