#header {
        background: url(../images/bali.jpg);
        min-height: 30rem;
        background-position: center;
        background-size: cover;

        display: grid;
        grid-template-columns: 5% 30% 65%;
        grid-template-rows: 15vh 1fr 10vh;

        color: white;
        text-align: center;


        .header-card {
                grid-column: 2/3;
                grid-row: 2/3;
                border-radius: 4%;
                background-color: $color1;
                padding: 1rem;

                i {
                        font-size: 1.5rem;
                }

                .header-author {
                        img {
                                font-style: italic;
                                border-radius: 50%;
                                width: 3vw;
                        }
                }
        }

        .header-h3 {
                font-size: 2rem;


        }
}