#header {
    grid-area: header;
    background: url(../images/bali.jpg);

    grid-template-columns: 10% 20% 70%;
    grid-template-rows: 10% 70% 20%;

    .headcard {
        grid-column: 2;
        grid-row: 2;

        background-color: black;
    border-radius: 10%;
    border: 1px solid $color2;
    }
    
}