#links {
background-color: $color1;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas:
        'link1 link2 link3';
        min-height: 20rem;

    div {
        align-self: center;

        img {
            width: 70%;
        }
    }

    #link1 {
        grid-area: link1;
        background-color: $color1;
    }

    #link2 {
        grid-area: link2;
    }

    #link3 {
        grid-area: link3;
    }
}