#nav {
    grid-area: nav;
    background-color: $color2;
    display: grid;
    grid-template-columns: repeat (4, 25%);
    grid-template-areas:
        "choice1 choice2 choice3 choice4";
    column-gap: 10px;
    row-gap: 10px;

    div {
        align-self: center;
        a{
            text-decoration: none;
            color: $color1;
        }

    }


    #choice1 {
        grid-area: choice1;
    }

    #choice2 {
        grid-area: choice2;
    }

    #choice3 {
        grid-area: choice3;
    }

    #choice4 {
        grid-area: choice4;
    }

}