#navbar {
    background-color: $color2;
    text-align: center;

    #hamburger {
        display: none;
        margin-left: 10px;
    }

    #navbarTitle {
        display: none;
    }

    #navigationLinks {
        display: flex;
        gap: 2rem;
        min-height: 4rem;
        align-items: center;
        justify-content: space-around;
        a {
            text-decoration: none;
        }
    }
}