#partners {
    background-image: linear-gradient(
        rgba(0, 242, 96, 0.4),
        rgba(7, 117, 230, 0.3)
      ),
      url(../images/plane.jpg);
    
    min-height: 30rem;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
padding-top: 2rem ;

    #partners-title {

        i {
            font-size: 3rem;
            color: $color1;
        }

        h2 {
            font-size: 2rem;
            color: $color1;
        }

        hr {
            width: 30%;
            border-color: $color2;
        }
        

    }
}