@media screen and (max-width: 991px) {
    body {
        border: 10px solid black;
    }

    #navbar {

        #hamburgerAndTitle {
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                margin: 0 auto;
                margin-top: 23px;
            }

            #hamburger {
                color: $color2;
                display: block;
                text-align: left;
                margin: 20px 20px;
            }

            #navbarTitle {
                display: block;
                margin: 20px 20px;
            }

        }
    }
}

// 991px max width 769 768

// <i class="fas fa-bars"></i>