#top {
        background-image: linear-gradient(
                rgba(0, 242, 96, 0.4),
                rgba(7, 117, 230, 0.3)
              ),
              url(../images/beach.jpg);
        
        height: 20rem;
        background-position: center;
        background-size: cover;

        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr auto 1fr;

        color: white;
        text-align: center;

        #top-title {
                grid-column: 2/3;
                grid-row: 2/3;
                color: white;

                span {
                        font-size: 2rem;
                }

                i {
                        font-size: 3rem;
                }

        }
}