@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

// Font Color
$color1: #2b80b9;
$color2: #f2f7ba;

// import
@import './css/top';
@import './css/nav';
@import './css/header';
@import './css/blog';
@import './css/partners';
@import './css/links';
@import './css/footer';

// Global
html {
// body
    body {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 35vh 15vh 50vh 250vh 50vh 35vh 15vh;
        grid-template-areas:
            "top"
            "nav"
            "header"
            "blog"
            "partners"
            "links"
            "footer";

        font-family: 'RocknRoll One', sans-serif;

        h1 {
            font-size: 3rem;
        }

        .ranking {
            font-size: 1em;
        }

        h2 {
            font-size: 1em;
        }

        h3 {
            font-size: 1em;
        }

        button {
            border-radius: 8%;
            background-color: $color2;
            border: 1px solid white;
            color: $color1;
            padding: 2% 5%;
        }
    }
}