@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

// Font Color
$color1: #2b80b9;
$color2: #f2f7ba;

// import
@import './css/top';
@import './css/nav';
@import './css/header';
@import './css/blog';
@import './css/partners';
@import './css/links';
@import './css/footer';

// Global
html {

    body {
        font-family: 'RocknRoll One', sans-serif;

        h1,
        h2,
        h3, p {
            margin: 0;
        }

        h1 {
            font-size: 3rem;
        }

        .ranking {
            font-size: 1em;
        }

        h2 {
            font-size: 1em;
        }

        h3 {
            font-size: 1em;
        }

        button {
            border-radius: 8%;
            background-color: $color2;
            border: 1px solid white;
            color: $color1;
            padding: 2% 5%;
        }
    }
}