@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
#top {
  background-image: linear-gradient(rgba(0, 242, 96, 0.4), rgba(7, 117, 230, 0.3)), url(../images/beach.jpg);
  height: 20rem;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  color: white;
  text-align: center;
}

#top #top-title {
  grid-column: 2/3;
  grid-row: 2/3;
  color: white;
}

#top #top-title span {
  font-size: 2rem;
}

#top #top-title i {
  font-size: 3rem;
}

#navbar {
  background-color: #f2f7ba;
  text-align: center;
}

#navbar #hamburger {
  display: none;
  margin-left: 10px;
}

#navbar #navbarTitle {
  display: none;
}

#navbar #navigationLinks {
  display: flex;
  gap: 2rem;
  min-height: 4rem;
  align-items: center;
  justify-content: space-around;
}

#navbar #navigationLinks a {
  text-decoration: none;
}

#header {
  background-image: linear-gradient(rgba(0, 242, 96, 0.4), rgba(7, 117, 230, 0.3)), url(../images/bali.jpg);
  min-height: 30rem;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 5% 30% 65%;
  grid-template-rows: 15vh 1fr 10vh;
  color: white;
  text-align: center;
}

#header .header-card {
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 4%;
  background-color: #2b80b9;
  padding: 1rem;
}

#header .header-card i {
  font-size: 1.5rem;
}

#header .header-card .header-author img {
  font-style: italic;
  border-radius: 50%;
  width: 3vw;
}

#header .header-h3 {
  font-size: 2rem;
}

#blog {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "aside articles";
  min-height: 90rem;
}

#blog #aside {
  background-color: #2b80b9;
  grid-area: aside;
  display: grid;
  grid-template-rows: 3% 94% 3%;
  grid-template-areas: "asidetitle" "comments" "bottombutton";
  color: white;
}

#blog #aside #asidetitle {
  grid-area: asidetitle;
  text-align: center;
}

#blog #aside #asidetitle hr {
  width: 60%;
}

#blog #aside #comments {
  grid-area: comments;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "comment1" "comment2" "comment3" "comment4" "comment5";
  text-align: center;
}

#blog #aside #comments .comment {
  border: 1px solid #f2f7ba;
  border-bottom: 4px solid #f2f7ba;
  border-right: 4px solid #f2f7ba;
  border-radius: 5%;
  padding: 5%;
  margin: 2%;
}

#blog #aside #comments .comment .commentwhowhen .commentuser {
  font-style: italic;
  border-radius: 50%;
  width: 3vw;
}

#blog #aside #comments .comment .commentwhowhen .commentimage {
  margin: 3%;
  width: 20vw;
  border: 4px solid white;
}

#blog #aside #comments #comment1 {
  grid-area: comment1;
}

#blog #aside #comments #comment2 {
  grid-area: comment2;
}

#blog #aside #comments #comment3 {
  grid-area: comment3;
}

#blog #aside #comments #comment4 {
  grid-area: comment4;
}

#blog #aside #comments #comment5 {
  grid-area: comment5;
}

#blog #aside #bottombutton {
  text-align: center;
  grid-area: bottombutton;
}

#blog .articles {
  grid-area: articles;
  text-align: center;
  padding: 2rem;
}

#blog .articles .last-articles {
  color: black;
  border-bottom: 1px solid #2b80b9;
  padding: 1rem 0;
}

#blog .articles .last-articles i {
  color: #2b80b9;
  font-size: 2rem;
}

#blog .articles .last-articles h2 {
  color: #2b80b9;
}

#blog .articles .last-articles hr {
  width: 30%;
  color: #f2f7ba;
}

#blog .articles .last-articles .last-articles-image {
  display: grid;
  grid-template-columns: repeat 3, 1fr;
  grid-template-areas: "image1 image2 image3";
  column-gap: 1rem;
}

#blog .articles .last-articles .last-articles-image div {
  height: 5rem;
}

#blog .articles .last-articles .last-articles-image #image1 {
  grid-area: image1;
  background: url(../images/montreal.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#blog .articles .last-articles .last-articles-image #image2 {
  grid-area: image2;
  background: url(../images/sydney.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#blog .articles .last-articles .last-articles-image #image3 {
  grid-area: image3;
  background: url(../images/rio.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#blog .articles .article-article {
  border-bottom: 1px solid #2b80b9;
  padding: 1rem 0;
}

#blog .articles .article-article hr {
  width: 20%;
  border-color: #f2f7ba;
}

#blog .articles .article-article .article-h3 {
  margin: 1rem 0;
}

#blog .articles .article-article .article-author-date {
  align-items: center;
  font-style: italic;
  padding: 0 3rem;
  justify-content: center;
  display: flex;
  gap: 0.5rem;
}

#blog .articles .article-article .article-author-date .article-author {
  display: flex;
  gap: 0.5rem;
}

#blog .articles .article-article .article-author-date .article-author .article-author-image {
  border-radius: 50%;
  width: 10%;
}

#blog .articles .article-article .article-author-date .article-date {
  display: flex;
  gap: 0.5rem;
}

#blog .articles .article-article .article-author-date .article-date i {
  font-size: 1.5rem;
  color: #2b80b9;
}

#blog .articles .article-article .article-image img {
  width: 16rem;
  border: 2px solid #f2f7ba;
}

#blog .articles .article-article .article-p {
  color: red;
}

#blog .articles .article-article p {
  padding: 2rem 0;
}

#partners {
  background-image: linear-gradient(rgba(0, 242, 96, 0.4), rgba(7, 117, 230, 0.3)), url(../images/plane.jpg);
  min-height: 30rem;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 2rem;
}

#partners #partners-title i {
  font-size: 3rem;
  color: #2b80b9;
}

#partners #partners-title h2 {
  font-size: 2rem;
  color: #2b80b9;
}

#partners #partners-title hr {
  width: 30%;
  border-color: #f2f7ba;
}

#links {
  background-color: #2b80b9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'link1 link2 link3';
  min-height: 20rem;
  text-align: center;
  color: white;
}

#links div {
  align-self: center;
}

#links div img {
  width: 70%;
}

#links #link1 {
  grid-area: link1;
  background-color: #2b80b9;
}

#links #link2 {
  grid-area: link2;
}

#links #link3 {
  grid-area: link3;
}

#footer {
  background-color: #f2f7ba;
  text-align: center;
  color: #2b80b9;
  padding: 2rem;
}

#footer #socials {
  padding: 1rem;
}

#footer #socials i {
  padding-right: 10px;
  font-size: 1.5em;
}

@media screen and (max-width: 991px) {
  #navbar {
    top: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 15vh;
  }
  #navbar #hamburgerAndTitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar #hamburgerAndTitle h2 {
    margin: 0 auto;
    margin-top: 23px;
  }
  #navbar #hamburgerAndTitle #hamburger {
    color: #f2f7ba;
    display: block;
    text-align: left;
    margin: 20px 20px;
  }
  #navbar #hamburgerAndTitle #navbarTitle {
    display: block;
    margin: 20px 20px;
  }
  #header {
    grid-template-columns: 25% 30% 45%;
  }
  #blog {
    grid-template-columns: 45% 55%;
  }
  #blog .articles .last-articles .last-articles-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  #blog .articles .last-articles .last-articles-image div {
    width: 100%;
    height: 8rem;
  }
}

@media screen and (max-width: 768px) {
  #header {
    grid-template-columns: 5% 60% 35%;
  }
  #blog {
    grid-template-columns: 100%;
    grid-template-areas: "articles" "aside";
  }
  #blog .articles .last-articles .last-articles-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  #blog .articles .last-articles .last-articles-image div {
    width: 100%;
    height: 25rem;
  }
  #blog .articles .article-article .article-author-date {
    flex-wrap: wrap;
  }
  #blog .articles .article-article .article-image img {
    width: 40rem;
    border: 2px solid #f2f7ba;
  }
  #blog #aside #comments .comment {
    display: grid;
    justify-content: center;
  }
  #blog #aside #comments .comment .commentwhowhen {
    display: grid;
  }
  #blog #aside #comments .comment .commentwhowhen .commentuser {
    font-style: italic;
    border-radius: 50%;
    width: 6vw;
  }
  #blog #aside #comments .comment .commentwhowhen .commentimage {
    margin: 0;
    justify-content: center;
    width: 80vw;
  }
  #links {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 'link1' 'link2' 'link3';
  }
  #links div img {
    width: 70%;
  }
}

html body {
  font-family: 'RocknRoll One', sans-serif;
}

html body h1,
html body h2,
html body h3, html body p {
  margin: 0;
}

html body h1 {
  font-size: 3rem;
}

html body .ranking {
  font-size: 1em;
}

html body h2 {
  font-size: 1em;
}

html body h3 {
  font-size: 1em;
}

html body button {
  border-radius: 8%;
  background-color: #f2f7ba;
  border: 1px solid white;
  color: #2b80b9;
  padding: 2% 5%;
}
/*# sourceMappingURL=style.css.map */